<div class="panel-header panel-header-sm">
</div>

<ng-template #leadModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Lead Collection</h4>
        <button class="btn btn-danger close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form #leadForm="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col col-md-3">
                            <label for="">Enter Name</label>
                        </div>
                        <div class="col col-md-9">
                            <input type="text" [(ngModel)]="lead.name" name="name" class="form-control" id="name"
                                placeholder="Enter name" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col col-md-3">
                            <label for="">Enter PAN No</label>
                        </div>
                        <div class="col col-md-9">
                            <input type="text" [(ngModel)]="lead.pan" name="pan" class="form-control" id="pan"
                                placeholder="Enter pan no" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col col-md-3">
                            <label for="">Enter Employee Id</label>
                        </div>
                        <div class="col col-md-9">
                            <input type="text" [(ngModel)]="lead.empId" name="empId" class="form-control" id="empId"
                                placeholder="Enter empId" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col col-md-3">
                            <label for="">Amount Requested</label>
                        </div>
                        <div class="col col-md-9">
                            <input type="number" [(ngModel)]="lead.amtRequested" name="amtRequested"
                                class="form-control" id="amtRequested" placeholder="Enter amtRequested" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col col-md-3">
                            <label for="">No of Emis</label>
                        </div>
                        <div class="col col-md-9">
                            <input type="number" [(ngModel)]="lead.noOfEmis" name="noOfEmis" class="form-control"
                                id="noOfEmis" placeholder="Enter noOfEmis" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button *ngIf="!lead._id" class="btn btn-primary" [disabled]="!leadForm.form.valid"
            (click)="saveLead()">Save</button>
        <button *ngIf="lead._id" class="btn btn-primary" [disabled]="!leadForm.form.valid"
            (click)="editLead()">Update</button>
    </div>
</ng-template>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row">
                    <div class="col-sm-10">
                        <h4 class="card-title">Leads</h4>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary" (click)="openCreateModal(leadModal)">Create</button>
                    </div>
                </div>
                <div class="card-body" *ngIf="!this.leads[0]">
                    No Data Found
                </div>
                <div class="card-body" *ngIf="this.leads[0]">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>
                                    #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    PAN
                                </th>
                                <th>
                                    Employee Id
                                </th>
                                <th>
                                    Amount Request
                                </th>
                                <th>
                                    Number of EMIs
                                </th>
                                <th>
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lead of leads; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{lead.name}}</td>
                                    <td>{{lead.pan}}</td>
                                    <td>{{lead.empId}}</td>
                                    <td>{{lead.amtRequested}}</td>
                                    <td>{{lead.noOfEmis}}</td>
                                    <td>
                                        <span>
                                            <button class="btn" (click)="openEditModal(leadModal,lead)">
                                                <i class="fa fa-edit text-info" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                        <span>
                                            <button class="btn" (click)="deleteLead(lead._id)">
                                                <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>